<!DOCTYPE html>
<html>
  <head>
    <title>Head Check: <%= name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1><%= name.possessive %> head is currently:</h1>
      <div class="hero-unit">
        <h1><%= check.capitalize %></h1>
      </div>
    </div>
  </body>
</html>